{extend name='base/base_content' /}


{block name="seo"}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{description|default='页面描述'}">
</head>
<body>
{/block}


{block name="content"}
<article class="page-container">
	<form class="form form-horizontal" id="form-config-edit">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>配置项名称</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$config_info.name}" placeholder="" id="configName" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>工作环境</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$config_info.work_env}" placeholder="" id="work_env" name="work_env">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">类型：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">


			<select class="select" name="type" size="1">
				<option value="0"
						{eq name="$config_info.type" value="win"}
						selected
						{/eq}
				>win</option>
				<option value="1"
						{eq name="$config_info.type" value="linux"}
						selected
						{/eq}
				>linux</option>
			</select>
			</span> </div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>配置文件名</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{:implode(',',$config_info.file_name)}" placeholder="" id="fileName" name="file_name">
			</div>
		</div>


		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>配置项所在目录</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$config_info.dir}" placeholder="" id="configDir" name="dir">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>配置项版本</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$config_info.version}" placeholder="" id="configVersion" name="version">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">是否启用当前版本：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="status" size="1">
				<option value="0"
						{eq name="$config_info.status" value="已停用"}
						selected
						{/eq}
				>停用</option>
				<option value="1"
						{eq name="$config_info.status" value="已启用"}
						selected
						{/eq}
				>启用</option>
			</select>
			</span> </div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>版本描述</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{:implode(';',$config_info.description)}" placeholder="" id="configDescription" name="description">
			</div>
		</div>

	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;新增环境，并生成copy to git命令&nbsp;&nbsp;">
		</div>
	</div>
	</form>
	<form class="form form-horizontal" id="form-config-cmd">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">生成命令：</label>
		<div class="formControls col-xs-8 col-sm-9">
                <textarea id="textarea_cate" name="remark" cols="" rows="" class="textarea" placeholder="" datatype="*10-100"
						  dragonfly="true" nullmsg="备注不能为空！"></textarea>
			<input type="hidden" id="copy-id" name="copy-id" value="{$config_info.id}">
			<a href="javascript:void(0);" id="cp-btn" class="btn btn-primary radius"style="margin-top: 10px">
				<i class="Hui-iconfont"></i>复制到剪辑板</a>
			<div id="exec-btn"> </div>
		</div>
	</div>

	</form>
</article>

{/block}


{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
	var attr ='{$config_info.id}';
	var id=0;

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-config-edit").validate({
		rules:{
			name:{
				required:true,
				minlength:2,
				maxlength:16
			},
			version:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('config_manage/configAddSave')}" ,
				success: function(data){
					var data = JSON.parse(data);
					layer.msg('新增环境成功!',{icon:1,time:1000});
					var html='';
					if(data.type=='win'){
						html='<a href="javascript:void(0);"  class="btn btn-primary radius" style="margin-top: 20px;">';
						html+='<i class="Hui-iconfont"></i>运行命令</a>';
						$("#exec-btn").html(html);
					}
					$.ajax({
						type: 'post',
						url: "{:url('admin/config_manage/copyGit')}",
						data: {copyId:$('#copy-id').val(),
							id:data.id},
						dataType: 'json',
						success: function (data) {
							$("#textarea_cate").val(data.cmd);
							layer.msg('命令已生成!', {icon: 6, time: 1000});
							id=data.id;
						}
					});
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
//动态给元素绑定事件
$("#exec-btn").on('click', '.item', function () {
	exec_cmd();
})
/*执行命令*/
function exec_cmd() {
	$.ajax({
		type: 'post',
		url: "{:url('admin/config_manage/execCmd')}",
		data: {flag:0,
			id:id,
			attr:attr},
		dataType: 'json',
		success: function (data) {
			$("#textarea_cate").val(data.cmd);
			if (data.flag == 1) {
				layer.msg('命令已执行成功!', {icon: 6, time: 1000});
			}
		}
	});
}
</script>
{/block}
</body>
</html>