{extend name='base/base_content' /}


{block name="seo"}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$description|default='页面描述'}">
</head>
<body>
{/block}


{block name="content"}

<div class="page-container">

    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">配置列表</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="40">ID</th>
            <th width="40">配置项名</th>
            <th width="40">工作环境</th>
            <th width="40">类型</th>
            <th width="80">配置文件名</th>
            <th width="160">所在目录</th>
            <th width="40">版本号</th>
            <th width="40">是否启用当前版本</th>
            <th width="150">版本描述</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td><input type="checkbox" value="" name=""></td>
            <td>{$vo.id}</td>
            <td>{$vo.name}</td>
            <td>{$vo.work_env}</td>
            <td>{$vo.type}</td>
            <td>{:implode(',',$vo.file_name)}</td>
            <td>{$vo.dir}</td>
            <td>{$vo.version}</td>
            <!--启用停用权限仅admin用户使用-->
            {eq name="$Think.session.user_info.name" value="admin"}
            <td class="td-status">
                {if condition="$vo.status eq '已启用'"}
                <span class="label label-success radius">{$vo.status}</span>
            {else/}
            <span class="label radius">{$vo.status}</span>
            {/if}
            </td>
            {/eq}
            <td>{:implode(';',$vo.description)}</td>

        </tr>
        </tbody>
    </table>
        {if condition="$vo.type eq 'win'"}
        <a href="javascript:void(0);" onclick="init_win_load()" class="btn btn-primary radius">
    <i class="Hui-iconfont"></i>init-win-config-load-to-git</a>
    <a href="javascript:void(0);" onclick="open_dir()" class="btn btn-primary radius">
        <i class="Hui-iconfont"></i>open-dir</a>
        {else/}
        <a href="javascript:;" onclick="init_linux_load()" class="btn btn-primary radius">
                    <i class="Hui-iconfont"></i>init-linux-config-load-to-git</a>
        {/if}
    <a href="javascript:void(0);" onclick="copy_to_git()" class="btn btn-primary radius">
        <i class="Hui-iconfont"></i>copy_to_git</a>
</div>

{/block}


{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>

<script type="text/javascript">
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */

    /*初始化 配置项git仓库*/
    function init_win_load(){
        var url="{:url('admin/config_manage/initWinLoad',['id'=>$vo.id])}";

        window.open(url);
    }
/*copy配置项git仓库，并配置工作环境*/
function copy_to_git() {
    var url="{:url('admin/config_manage/copyToGit',['id'=>$vo.id])}";

    window.open(url);
}

/*打开配置项所在目录*/
    function open_dir() {
        var dir="{$vo.dir}";
        var str=dir.replace('\\','@');
        $.ajax({
            type: 'post',
            url: "{:url('admin/config_manage/openDir')}",
            data: {dir:str},
            dataType: 'json',
            success: function (data) {

                layer.msg('已打开!', {icon: 5, time: 1000});
            }
        });
    }

    function selecttime(flag){
        if(flag==1){
            var endTime = $("#countTimeend").val();
            if(endTime != ""){
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
        }else{
            var startTime = $("#countTimestart").val();
            if(startTime != ""){
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
        }
    }
    function selecttime(flag){
        if(flag==1){
            var endTime = $("#countTimeend").val();
            if(endTime != ""){
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
        }else{
            var startTime = $("#countTimestart").val();
            if(startTime != ""){
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
        }
    }

</script>
{/block}
</body>
</html>