
{extend name='base/base_content' /}


{block name="seo"}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{description|default='页面描述'}">
</head>
<body>
{/block}


{block name="content"}
<div class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-category-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类名称name：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.name}" placeholder="" id="" name="name">
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">所在分类：parent_id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.child_id}" placeholder="" id="parent_id"
                       name="parent_id">
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">所在分类中排序值order：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="1" placeholder="" id="order" name="order">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">分类描述remark：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="remark" cols="" rows="" class="textarea" placeholder="{$data.remark}" datatype="*10-100"
                          dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,200)"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>模块名称module：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.module}" placeholder="" id="" name="module">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>控制器名称名称controller：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.controller}" placeholder="" id="" name="controller">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>对应模型名称model：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.model}" placeholder="" id="" name="model">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>方法名称action：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="action">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>方法类型action：</label>

            <div class="radio-box">
                <input type="radio" id="radio-1" name="demo-radio" value="index" checked>
                <label for="radio-2">index方法</label>
            </div>
            <div class="radio-box">
                <input type="radio" id="radio-2" name="demo-radio" value="server">
                <label for="radio-2">服务类方法</label>
            </div>
            <div class="radio-box">
                <input type="radio" id="radio-3" name="demo-radio" value="view">
                <label for="radio-1">视图类方法</label>
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>视图模板名称view：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="view">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>URL地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="url">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>显示状态status：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="status">
            </div>
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" onclick="submit_add()" type="button"><i class="Hui-iconfont">&#xe632;</i>
                    创建文件目录及创建文件，并填写基础信息到数据库
                </button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name="js"}
<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript">


    $(document).ready(function () {
        //child_id验证

        $("#order").focus(function () {
            $("#order").css("background-color", "#FFFFCC");
        });
        $("#order").blur(function () {

            var formData = $("#form-category-add").serialize();

            //serialize() 方法通过序列化表单值，创建 URL 编码文本字符串
            $.ajax({
                url: '__URL__/category/addVerify',
                data: formData,
                type: 'post',
                success: function (data) {
                    var data = JSON.parse(data);
                    if (data.flag == -1) {
                        layer.msg('child_id已存在!', {icon: 2, time: 1000});
                        return;
                    } else {
                        layer.msg('child_id可以使用!', {icon: 1, time: 1000});
                    }
                }

            });
        });

    });


    //Ajax请求控制器中的方法完成数据的增加
    function submit_add() {
        var formData = $("#form-category-add").serialize();
        $.ajax({
            url: '__URL__/category/addSave',
            data: formData,
            type: 'post',
            success: function (data) {
                var data = JSON.parse(data);
                if (data.flag == -1) {
                    layer.msg('增加失败!', {icon: 2, time: 1000});
                    return;
                } else {
                    layer.msg('增加成功!', {icon: 1, time: 1000});
                    window.parent.location.reload(); // 父页面刷新
                }
            }

        });

    }


</script>
{/block}
</body>
</html>