<script type="text/javascript" src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
<script type="text/javascript" src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/css3pie/2.0beta1/PIE_IE678.js"></script>
{include file='base/_meta' /}
<title>分类编辑</title>
</head>
<body>


<div class="pd-10">
  <form class="Huiform" action="__URL__/blog_category/blogCategoryEdit?flag=1" method="post">
    <p>上级栏目：</p>
    <select class="select" id="sel_Sub" style="margin: 10px" name="sel_Sub" onchange="SetSubID(this);">
      <option value="0">顶级分类</option>
      {foreach name="categoryList" item="vo"}
      <option value="{$vo.child_id}"
              {if condition="($vo.child_id == $category.parent_id)"}
              selected
              {/if}
      >
      {$vo.name}</option>
      {/foreach}



      <input type="hidden" id="hid_ccid" value="">
      当前分类排序：<input class="input-text text-c" style="width:50px" type="text" value="{$category.order}" placeholder="排序" name="class-rank" id="class-rank">
      分类名：<input class="input-text" style="width:55%" type="text" value="{$category.name}" placeholder="输入分类" name="class-val" id="class-val">
      <p>分类描述：</p><input class="input-text" style="width:100%" type="text" value="{$category.remark}"  name="class-demo" id="class-demo">

      <div class="text-c mt-20"><button type="submit" class="btn btn-success" id="" name="" ><i class="icon-save"></i> 保存</button></div>
  </form>
</div>

{include file='base/_footer' /}

<script type="text/javascript" src="__ADMIN__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__ADMIN__/static/h-ui.admin/js/H-ui.admin.js"></script>
<script>


  $('#type').click(function(){
            $(this).change(function(){
              var objectModel = {};
              var   value = $(this).val();
              var   type = $(this).attr('id');
              objectModel[type] =value;
              $.ajax({
                cache:false,
                type:"POST",
                url:site.web+"lable",
                dataType:"json",
                data:objectModel,
                timeout:30000,
                error:function(){
                  alert(site.web+"lable");
                },
                success:function(data){
                  $("#lables").empty();
                  var count = data.length;
                  var i = 0;
                  var b="";
                  for(i=0;i<count;i++){
                    b+="<option value='"+data[i].ca_id+"'>"+data[i].ca_name+"</option>";
                  }
                  $("#lables").append(b);
                }
              });
            });
          }
  );

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>