{extend name='base/base_content' /}


{block name="seo"}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{description|default='页面描述'}">
<link rel="stylesheet" type="text/css" href="__ADMIN__/lib/simditor/styles/simditor.css" />
</head>
<body>
{/block}


{block name="content"}
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.title}" placeholder="" id="articletitle" name="title">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">所在分类：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.child_id}" placeholder="" id="articlecategory" name="child_id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.order_id}" placeholder="" id="articlesort" name="order_id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">关键词：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.keywords}" placeholder="" id="keywords" name="keywords">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章作者：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="author" name="author">
            </div>
        </div>

        <input type="hidden" id="input-status" name="status" value="" >
        <!--新增的div-->
        <div id="contentdiv"  style="display:none">
            {$data.content}
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="content" id="editor"  placeholder="Balala" autofocus></textarea>
            </div>

        </div>

        <div class="row cl">

            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="article_save(2);" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont"></i> 保存修改</button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">取消</button>
            </div>
        </div>
            </form>
                </article>

                {/block}


                    {block name="js"}

                <!--请在下方写此页面业务相关的脚本-->
                <script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script>


                <script type="text/javascript" src="__ADMIN__/lib/simditor/scripts/module.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/simditor/scripts/hotkeys.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/simditor/scripts/uploader.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/simditor/scripts/simditor.js"></script>
                <script type="text/javascript">

                    //Ajax请求控制器中的方法完成数据的增加
                    function article_save($key) {
                        if ($key){
                            $('#input-status').val(1);
                        } else {
                            $('#input-status').val(0);
                        }

                        var formData = $("#form-article-add").serialize();

                        $.ajax({
                            url: '__URL__/blog_category/saveContent',
                            data: formData,
                            type: 'post',
                            success: function (data) {

                                var data = data;


                                if (data.flag == -1) {
                                    layer.msg('保存失败!', {icon: 2, time: 1000});
                                    return;
                                } else {
                                    layer.msg('保存成功!', {icon: 1, time: 1000});
                                    window.location.reload();
                                }
                            }

                        });
                    }

                    $(function(){
                        $('.skin-minimal input').iCheck({
                            checkboxClass: 'icheckbox-blue',
                            radioClass: 'iradio-blue',
                            increaseArea: '20%'
                        });

                        //表单验证
                        $("#form-article-add").validate({
                            rules:{
                                title:{
                                    required:true,
                                },

                                child_id:{
                                    required:true,
                                },
                                order_id:{
                                    required:true,
                                },
                                keywords:{
                                    required:true,
                                },
                                abstract:{
                                    required:true,
                                },
                                author:{
                                    required:true,
                                },
                                content:{
                                    required:true,
                                },
                            },
                            onkeyup:false,
                            focusCleanup:true,
                            success:"valid",
                            submitHandler:function(form){
                                //$(form).ajaxSubmit();
                                var index = parent.layer.getFrameIndex(window.name);
                                //parent.$('.btn-refresh').click();
                                parent.layer.close(index);
                            }
                        });



                    });

                    $(function() {
                        var editor,toolbar;

                        var pre="";

                        //获取div中的pre的个数
                        var presize=$("#contentdiv pre").length;
                        //遍历pre
                        for(var i=0;i<presize;i++){
                            pre=$("#contentdiv pre").eq(i).text();
                            $("#contentdiv pre").eq(i).text(pre);
                        }
                        //装填到textarea中
                        $("#editor").html($("#contentdiv").html());




                        Simditor.locale = 'zh-CN';
                        toolbar = ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment'];

                        editor = new Simditor({
                            textarea: $('#editor'),

                            toolbar: toolbar,
                            pasteImage: true,//是否允许粘帖上传图片
                            defaultImage: '<%=basePath%>asset/public/js/simditor/images/image.png',
                            upload : {
                                url : '<%=basePath%>article/qiniuUploadImg.action?Math.random()', //文件上传的接口地址
                                params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                                fileKey: 'ImageFile', //服务器端获取文件数据的参数名
                                connectionCount: 3,
                                leaveConfirm: '正在上传文件'
                            }
                        });



                    });
                </script>
                <!--/请在上方写此页面业务相关的脚本-->
                {/block}
</body>
</html>