{extend name='base/main' /}

{block name="seo"}
<title>{$title|default='登录老猫管理系统'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{description|default='页面描述'}">


<link rel="stylesheet" href="__LAYUI__/common/css/login.css" media="all" />
</head>
{/block}

{block name="content"}
<body>
    <!--登录背景-->
	<div class="video_mask">
		<img href="__LAYUI__/common/images/login_bg.jpg">
	</div>
	<div class="login">
	    <h1>登录</h1>
		<form class="layui-form" action="" lay-filter="login">
			<div class="layui-form-item">
				<input class="layui-input" name="name" placeholder="用户名" lay-verify="required" type="text" autocomplete="off">
			</div>
			<div class="layui-form-item">
				<input class="layui-input" name="password" placeholder="密码" lay-verify="required" type="password" autocomplete="off">
			</div>
			<div class="layui-form-item form_code">
				<input class="layui-input" name="verify" placeholder="验证码" lay-verify="required" type="text" autocomplete="off">
				<div class="code"><img src="{:captcha_src()}" id="verify_img" alt="captcha"/>
					<a id="kanbuq" href="javascript:refreshVerify();">换一张</a></div>
			</div>

			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit="" lay-filter="check-login" type="button">点击登录</button>
				</div>
			</div>
		</form>


	</div>

	{/block}

	{block name="js"}
	<script type="text/javascript" >

		layui.use(['form','element','layer','jquery'],function() {
			var layer = layui.layer
					, form = layui.form
			;
			form.on('submit(check-login)', function (data) {
				$.ajax({
					type: 'POST',
					url: "{:url('index/index/checkLogin')}",
					data: $('form').serialize(),
					dataType: 'json',
					async: false,
					success: function (data) {
						if (data.status == 1) {
							layer.alert(data.message);
							window.location.href = "{:url('index/index/index')}";
						} else { //给出错误信息
							layer.alert(data.message);
						}
					}

				});
			});
		})

		/**
		 * 更换验证码
		 * */
		function refreshVerify() {
			$('#verify_img').attr('src', "/captcha?rand="+Math.random());//刷新验证码
		}
	</script>
	{/block}
</body>
</html>
