<!DOCTYPE >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <{include file='base/_meta' /}
    <{include file='base/_footer' /}
    <title>公告管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont"></i> 首页 <span class="c-gray en">></span> 综合管理 <span class="c-gray en">></span> 公告管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont"></i></a></nav>
<div class="page-container">
    <div class="text-c">
        标题：<input  type="text" class="input-text" style="width:250px" placeholder="输入标题" id="title" name="" />
        精确查找<input id="accurateFlg" name="accurateFlg" type="checkBox" value="1" />
        <button type="button" class="btn btn-success radius" id="search" name="search"><i class="Hui-iconfont"></i> 搜公告</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="delete_batch()" class="btn btn-danger radius"><i class="Hui-iconfont"></i> 批量删除</a>
			<a href="javascript:;" onclick="notice_add('添加公告','__URL__/notice/toNoticeAdd','','')" class="btn btn-primary radius"><i class="Hui-iconfont"></i> 添加公告</a>
		</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" id="chkId" name="chkIdAll" value=""></th>
                <th width="40">ID</th>
                <th width="200">公告标题</th>
                <th width="200">发布时间</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</body>