{extend name='base/main' /}


{block name="seo"}
<title>{$title|default='老猫管理系统'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{description|default='页面描述'}">

</head>
{/block}

{block name="content"}
<body class="childrenBody">


{/block}

{block name="js"}
<script type="text/javascript">
    /**
     * 首页内容.js
     * */
    layui.config({
        base: '__LAYUI__/common/js/'//定义基目录
    }).extend({
        ajaxExtention:'ajaxExtention',
        $tool:'tool'
    }).use(['form','element','layer','carousel','jquery'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : parent.layer,
            element = layui.element,
            $ = layui.jquery;



    });

</script>
{/block}
</body>
</html>
