{extend name='base/main' /}


{block name="seo"}
<title>{$title|default='老猫管理系统'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{description|default='页面描述'}">
<link rel="stylesheet" href="__LAYUI__/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
{/block}

{block name="content"}
<body class="childrenBody">


<div class="pos-a" style="width:20%;left:0;top:0; bottom:0; height:100%; border-right:1px solid #e5e5e5; background-color:#f5f5f5; overflow:auto;display: inline-block ;vertical-align: top;">
    <ul id="bcTree" class="ztree"></ul>
    <div class="row cl" style="text-align: center">
        <button class="layui-btn" onclick="category_add()">新增</button>
        <button class="layui-btn" onclick="category_del()">删除</button>
    </div>
</div>


<div style="display: inline-block; width: 65%; height: 556px;">
    <iframe src="/index/category/categoryEdit" data-frameid="category" id="iframe-category" scrolling="auto" frameborder="0" style=" width: 100%; height: 556px;">

    </iframe>
</div>
{/block}

{block name="js"}
    <script type="text/javascript" src="__ADMIN__/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript">
    /**
     * 首页内容.js
     * */
    layui.config({
        base: '__LAYUI__/common/js/'//定义基目录
    }).extend({
        ajaxExtention:'ajaxExtention',
        $tool:'tool'
    }).use(['form','element','layer','carousel','jquery','ajaxExtention','$tool'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : parent.layer,
            element = layui.element,
            $ = layui.jquery,
            carousel = layui.carousel,
            $tool = layui.$tool;



    });
    var zTreeObj;


    var setting = {
        view: {
            showIcon: true,//是否显示图标
            dblClickExpand: false,//是否双击展开/收起
            selectedMulti: false,//是否允许同时选中多个节点
            expandSpeed: 'fast',//展开速度fast、slow
            showTitle: true, //是否显示节点的title提示信息
            showLine: true,//是否显示节点间的连线
            nameIsHTML: true //设置 name 属性是否支持 HTML 脚本
        },
        data: {
            keep: {
                parent: true
            },
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId"
            },


        },

        check: {
            enable: true,
            chkStyle: "radio",
            radioType: "all",
            chkboxType: {"Y": "", "N": ""},
        },

        callback: {
            /* 鼠标单击事件，判断是否是导航栏，然后跳转到展示页面 */
            onClick: function (event, treeId, treeNode, clickFlag) {
                /*获取当前被选中的节点数据集合 返回json格式*/
                var nodes = zTreeObj.getSelectedNodes();
                //这里的逻辑是为修改和查看所预备的hidden
                $("#checkNodeId").val(treeNode.id);
                $("#checkNodePid").val(nodes[0].pId);
                var cId = treeNode.id;
                var pId = treeNode.pId;
                //默认进入查看页面
                category_edit(cId);
            }
        }


    };

    /*初始化tree*/
    function initTree() {
        jQuery.ajax({
            url: "__URL__/category/getTreeData",
            data: {},
            type: "POST",
            dataType: "json",
            cache: false,
            success: function (data) {
                data = eval(data);//ztree只认js对象，而不是字符串，所以eval转换下
                zTreeObj = $.fn.zTree.init($("#bcTree"), setting, data);
                $.fn.zTree.init($("#bcTree"), setting, data);
                var treeObj = $.fn.zTree.getZTreeObj("tree");

            }
        });
    }


    /* DOM元素被加载完成的情况下执行 */
    $(document).ready(function () {
        initTree();
    });

    //查看、编辑分类
    function category_edit(cId) {


        var cId = cId;

        if (cId == "") {

            layer.alert("请选择一个博客分类");
            return;
        }
        $("#iframe-category").attr('src', "__URL__/category/categoryEdit?cId=" + cId);


    }


    //新增分类
    function category_add() {

        var treeObj = $.fn.zTree.getZTreeObj("bcTree");
        nodes = treeObj.getCheckedNodes(true);


        var cId = nodes[0].id;



        if (cId == "") {

            layer.alert("请选择一个分类");
            return;
        }

        $("#iframe-category").attr('src', "__URL__/category/add?cId=" + cId);

    }


    //Ajax请求控制器中的方法完成数据的删除
    function category_del() {

        var treeObj = $.fn.zTree.getZTreeObj("bcTree");
        nodes = treeObj.getCheckedNodes(true);

        var id = nodes[0].id;

        var tId = nodes[0].tId;

        jQuery.ajax({
            url: '__URL__/category/delete',
            data: {"id": id},
            type: 'get',
            success: function (data) {

                var data = JSON.parse(data);

                if (data.flag == 1) {
                    //如果php处理成功，调用此方法
                    layer.msg('删除成功!', {icon: 1, time: 1000});

                    $("#bcTree" + tId.substring(6)).remove();      //把这个id的数据在html中自动删除

                } else {
                    layer.msg('删除失败!', {icon: 1, time: 1000});
                }
            }

        });

    }


</script>
{/block}
</body>
</html>
