{extend name='base/base_content' /}


{block name="seo"}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$description|default='页面描述'}">
</head>
<body>
{/block}


{block name="content"}
<article class="page-container">
    <form class="form form-horizontal" id="form-common-edit">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>中文名称</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.name}" placeholder="" id="common-name" name="name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>公共模板名称</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.value}" placeholder="" id="common-value" name="value">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="type" size="1">
				<option value="1"
                        {eq name="$info.type" value="1.不需渲染视图方法"}
                        selected
                        {/eq}
				>1.不需渲染视图方法</option>
                <option value="2"
                        {eq name="$info.type" value="2.渲染视图方法"}
                        selected
                        {/eq}
				>2.渲染视图方法</option>
			</select>
			</span> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">参数：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
                <select class="select" name="attr" size="1">
				<option value="0"
                        {eq name="$info.attr" value="0.不需控制器名前缀"}
                        selected
                        {/eq}
				>0.不需控制器名前缀</option>
                    <option value="1"
                            {eq name="$info.attr" value="1.需控制器名前缀"}
                            selected
                            {/eq}
				>1.需控制器名前缀</option>
			</select>
			</span> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">是否启用：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
                <select class="select" name="status" size="1">
				<option value="0"
                        {eq name="$info.status" value="已停用"}
                        selected
                        {/eq}
				>已停用</option>
                    <option value="1"
                            {eq name="$info.status" value="已启用"}
                            selected
                            {/eq}
				>已启用</option>
			</select>
			</span> </div>
        </div>


        <!--隐藏提交id-->
        <input type="hidden"  value="{$info.id}"  name="id">
        <!--隐藏提交id-->
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交修改&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

{/block}


{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-common-edit").validate({
            rules:{
                name:{
                    required:true,
                    minlength:2,
                    maxlength:16
                },
                value:{
                    required:true,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                    url: "{:url('common/commonEditSave')}" ,
                    success: function(data){
                        layer.msg('修改成功!',{icon:1,time:1000});
                        layer.close();
                        window.parent.location.reload();
                    },
                    error: function(XmlHttpRequest, textStatus, errorThrown){
                        layer.msg('error!',{icon:1,time:1000});
                    }
                });
                var index = parent.layer.getFrameIndex(window.name);
                parent.$('.btn-refresh').click();
                //parent.layer.close(index);
            }
        });
    });
</script>
{/block}
</body>
</html>
